<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientURL</key>
	<string>https://app.watchmanmonitoring.com/client/20130818-N9F4-XCI4JD</string>
	<key>CurrentWarning</key>
	<true/>
	<key>CurrentNotice</key>
	<true/>
	<key>ReportData</key>
	<string>Check Laptop Battery	OK
Check LightSpeed Server	Notice
Check Munki	OK
Check Root Capacity	Warning
Check SoftRAID Volumes	OK
Check Specified Applications	OK
Check Specified Volumes	Warning
Check SuperDuper!	OK
Report Backup Minder Errors	OK
Report CCC Errors	OK
Report Client Status	OK
Report Disk I/O Errors	OK
Report Internal IP Address	OK
Report Kernel Panic Count	OK
Report LightSpeed Server Expirations	Notice
Report LightSpeed Server Webstore Log Errors	OK
Report Malware	OK
Report Network Status	OK
Report POST Errors	OK
Report RAM Errors	OK
Report Reboot Events	Warning
Report SMART Errors	OK
Time Machine Exclusions	OK

https://app.watchmanmonitoring.com/client/20130818-N9F4-XCI4JD</string>
	<key>ReportTime</key>
	<date>2013-10-05T13:49:03Z</date>
</dict>
</plist>
